{% extends "base.html"%}
{% block title %}MeriKitab - Buy Books {% endblock title %}
{% load static %}
{% block body %}

<div class="flex p-4 space-x-4">
    <div class="w-1/4">
      <img src="/media/{{bookDetail.image1}}" alt="Book Image" class="max-w-full h-auto">
    </div>
    <div class="w-3/4  m-4">
      <h2 class="text-2xl font-bold uppercase" style=" padding: 4px 4px; background-color: #92d492; width: 60%;"><b>BookTite :</b> {{bookDetail.title}}</h2>
      <p style="width: 60%; text-align: justify;"><b>Description: </b> {{bookDetail.desc}}</p>
      <p ><b>Author: </b> {{bookDetail.authorName}}</p>
      <!-- <p class="text-gray-600"><b> category</b> {{category_name.category}}</p> -->
      <p ><b>Price: </b> {{bookDetail.setprice}}</p>

      <h1 class="mt-5 uppercase" style="font-weight: 600;  font-weight: 900; width: 60%; font-size: 28px;padding: 4px 4px; background-color: #92d492;" > About Seller</h1>
      <p><b>Seller Name: </b> {{bookDetail.name}}</p>
      <!-- <p class="text-gray-600">Email: {{bookDetail.}}</p> -->
      <p> <b>Contact No: </b> {{bookDetail.phone}}</p>
      <p><b>Address: </b> {{bookDetail.address}}</p>
    </div>
  </div>
  



{% endblock body %}





