
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
  
 {% block content %}
 {% endblock content %}

  <title>{% block title %}{% endblock title %}</title>

</head>
<body>


<nav class="bg-green-100 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4" style="color: #278c44;">
            <!-- <img src="#" class="h-8 mr-3" alt="MeriKitab" /> -->
         <p class="self-center text-2xl font-bold whitespace-nowrap  dark:text-white "  style="font-family: poppins; color: #278c44;" ><a href="{% url 'home' %}"><i class="fa fa-arrow-left" aria-hidden="true"  style="margin-left: -90px; margin-right: 54px;"></i></span></a>MeriKitab</p>
         <a href="{% url 'home' %}"><span style="margin-right:-75px" class="text-2xl font-bold whitespace-nowrap  dark:text-white"  style="font-family: poppins; color: #278c44;" >Back</span></a>
    </div>
</nav>
<nav class=" dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
    </div>
</nav>
{% block body %} {% endblock body %}






</body>
</html>
